<!DOCTYPE html>
<html>
<head>
    <title>pyGIN - Game Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gin Rummy Scoreboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('start_over') }}">Start New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('game_stats') }}">Game Stats</a>
          </li>
        </ul>
      </div>
    </nav>
    <table class="table mx-auto table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th>Hands Won</th>
          <th>GINs</th>
          <th>Undercuts</th>
        </tr>
      </thead>
      <tbody>
        {% for winner in winners %}
        <tr>
          <td>{{ winner[1] }}</td>
          <td>{{ winner[2] }}</td>
          <td>{{ winner[3] }}</td>
          <td>{{ winner[4] }}</td>
          <td>{{ winner[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ url_for('home') }}" class="btn btn-primary">Back to scoreboard</a>
</body>
</html>