<!DOCTYPE html>
<html>
<head>
    <title>pyGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gin Rummy Scoreboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('start_over') }}">Start New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('game_stats') }}">Game Stats</a>
          </li>
        </ul>
      </div>
    </nav>
     <table class="table mx-auto table-responsive">
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Hands Won</th>
                <th>Gins</th>
                <th>Undercuts</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.hands_won }}</td>
                <td>{{ player.num_gins }}</td>
                <td>{{ player.num_undercuts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('update_score') }}" method="post">
      <div class="mb-3">
          <label for="winner">Winner:</label>
            <select id="winner" name="winner">
                {% for player in session['players'] %}
                <option value="{{ player.name }}">{{ player.name }}</option>
                {% endfor %}
            </select>
          <label for="points">Points:</label>
          <input type="number" id="points" name="points" min="0" value="1">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="gin_points" name="gin_points" value="gin_points">
              <label class="form-check-label" for="gin_points">+25 GIN</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="undercut_points" name="undercut_points" value="undercut_points">
              <label class="form-check-label" for="undercut_points">+25 Undercut</label>
          </div>
          <input type="submit" class="btn btn-primary" value="Update Score">
      </div>
    </form>
    <form action="{{ url_for('start_over') }}" method="post">
        <input type="submit" class="btn btn-primary" value="Start Over">
    </form>
</body>
</html>

