<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyGin - New Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gin Rummy Scoreboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('start_over') }}">Start New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('game_stats') }}">Game Stats</a>
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <h1>New Game!</h1>
    <form action="{{ url_for('new_game') }}" method="post">
        <div class="mb-3">
            <label for="player1">Player 1:</label>
            <input type="text" class="form-control" placeholder="Player Name" aria-label="Player" id="player1" name="player1">
        </div>
        <div class="mb-3">
            <label for="player2">Player 2:</label>
            <input type="text" class="form-control" placeholder="Player Name" aria-label="Player" id="player2" name="player2">
        </div>
        <div id="player3-wrapper" class="mb-3" style="display:none;">
            <label for="player3">Player 3:</label>
            <input type="text" class="form-control" placeholder="Player Name" aria-label="Player" id="player3" name="player3">
        </div>
        <div id="player4-wrapper" class="mb-3" style="display:none;">
            <label for="player4">Player 4:</label>
            <input type="text" class="form-control" placeholder="Player Name" aria-label="Player" id="player4" name="player4">
        </div>
        <button id="add-player" class="btn btn-secondary" type="button" style="display:block;">Add Player</button>
        <br>
        <input type="submit" class="btn btn-primary" value="Start New Game">
    </form>

    <script>
        let playerCount = 2;
        let addButton = document.querySelector("#add-player");
        addButton.addEventListener("click", function() {
            let playerWrapper = document.querySelector(`#player${playerCount + 1}-wrapper`);
            playerWrapper.style.display = "block";
            playerCount++;
            if (playerCount === 4) {
                addButton.style.display = "none";
            }
        });
    </script>
</body>
</html>
